@media only screen and (max-width: 600px) {
    .navbar {
        padding: 20px;
    }
    .navbar h1 {
        display: none;
    }
    .login {
        gap: 2px;
    }
    .navbar button {
        width: auto;
        font-size: 14px;
        margin-left: 4px;
    }
    .login a {
        margin-left: 0;
        display: none;
    }
    .header {
        flex-direction: column-reverse;
        padding: 20px;
    }
    .header .content2 img {
        width: 99%;
        height: auto;
    }
    .header .content1 h2 {
        font-size: 35px;
    }
    .content1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .content1 p {
        width:  90%;
    }
    .sperator {
        padding: 0px 20px;
    }
    .sell {
        flex-direction: column;
        padding: 0px 20px;
    }
    .nft-shop {
        padding: 0px 20px;
    }
    .list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .list span {
        margin-bottom: 20px;
    }
    .items {
        flex-direction: column;
        padding: 0px 20px;
        margin-top: 20px;
    }
    .items div {
        width: 100%;
    }
    footer {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 30px;
        border-radius: 10px;
    }
    .explore h3 {
        font-size: 32px;
        width: 100%;
    }
    .socail {
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .socailmeadia  {
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .header {
        flex-direction: column-reverse;
    }
    .header img {
        width: 100%;
    }
    .header h2 {
        font-size: 50px;
    }
    .sell {
        flex-direction: column;
    }
    .list {
        flex-wrap: wrap;
    }
    .list span {
        width: 50%;
        margin-bottom: 10px;
    }
    .items {
        flex-direction: column;
        
    }
    .items div{
        width: 100%;
    }
    footer {
        flex-direction: column;
    }
    .explore {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .socailmeadia {
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}